@using System.Collections
@using STAPplication.Models
@model STAPplication.Models.RegisterModel

@functions {public IEnumerable Mobility { get; set; }
}
@{
    ViewBag.Title = "Registreer";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)        
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Address)
                @Html.TextBoxFor(m => m.Address)
            </li>
             <li>
                @Html.LabelFor(m => m.City)
                @Html.TextBoxFor(m => m.City)
            </li>
            <li>
                @Html.LabelFor(m => m.Site)
                @Html.TextBoxFor(m => m.Site)
            </li>
             <li>
                @Html.LabelFor(m => m.ContactName)
                @Html.TextBoxFor(m => m.ContactName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Phone)
                @Html.TextBoxFor(m => m.Phone)
            </li>
            <li>
                @Html.LabelFor(m => m.Mobility)
                @Html.TextBoxFor(m => m.Mobility)
            </li>
            <li>
                @Html.LabelFor(m => m.Type)
                @Html.TextBoxFor(m => m.Type)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
             <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Registreer" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
